.AppliesToWholeComponent {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.DifferentPage {
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
}

.DifferentPage a {
    color: white;
}

.DifferentPage a:hover {
    color: #40A4C8;
}

.DifferentPage:hover{
    background-color: black;
}

/* .DifferentPage {
    padding-left: 40;
    padding-right: 40;
    display: inline;
    box-sizing: border-box;
    display: block;
    width: 100%;
} */



/* .DifferentPages {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .DifferentPages {
        flex-flow: row;
    }
}


.DifferentPage {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.DifferentPage a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.DifferentPage a:hover,
.DifferentPage a:active,
.DifferentPage a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .DifferentPage {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .DifferentPage a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .DifferentPage a:hover,
    .DifferentPage a:active,
    .DifferentPage a.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
} */