.AppliesToWholeComponent {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.DifferentPage {
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
}

.DifferentPage a {
    color: white;
}

.DifferentPage a:hover {
    color: #40A4C8;
}

.DifferentPage:hover{
    background-color: black;
}