.StuffToTurnTheListHorizontalAndGetRidOfTheListDot {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.NavBarItem {
    display: inline;
    padding-left: 40px;
    padding-right: 40px;
}

.NavBarItem a {
    color: white;
}

.NavBarItem a:hover {
    color: #40A4C8;
}

.NavBarItem:hover{
    background-color: black;
}